In [12]:
!pip install nashpy
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import nashpy as nash

Requirement already satisfied: nashpy in c:\users\houss\anaconda3\lib\site-packages (0.0.28)
Requirement already satisfied: numpy>=1.15.4 in c:\users\houss\anaconda3\lib\site-packages (from nashpy) (1.22.2)
Requirement already satisfied: scipy>=0.19.0 in c:\users\houss\anaconda3\lib\site-packages (from nashpy) (1.6.2)

# DataSet

In [13]:
df_U= pd.read_csv("data_U.csv", sep=";", header=None)
df_U.columns=["A1","A2", "A3", "A4","Objects"]
df_U=df_U.set_index('Objects')
df_U

          A1   A2   A3   A4
Objects
o1       5,9  3,2  4,8    2
o2       6,1  2,8  4,2  1,5
o3       6,4  2,8  4,6  1,3
o4       6,4  2,5  4,3  1,4
o5       6,3  2,3  4,4  1,5
o6       6,3  2,8  4,9  1,6
o7       5,5  2,4  3,8  1,3
o8       5,8  2,7    4  1,4
o9       5,5  2,4  3,7  1,2
o10        6  2,8  4,5  1,4
o11      5,6  2,9  4,1  1,5
o12      5,5  2,5    4  1,5
o13      5,5  2,6  4,4  1,4
o14      6,1  2,7  4,6  1,4
o15      5,8  2,6    4  1,4
o16      5,8  2,7  5,1  1,9
o17      5,7  2,5    5    2
o18      6,1  2,8  5,6  2,2
o19        6  2,2    5  1,5
o20      5,6  2,8  4,9    2
o21      6,3  2,7  4,9  1,8
o22      6,2  2,8  4,8  1,8
o23      5,9    3  5,1  1,8
o24      6,4  2,8  5,6  2,1
o25      6,5    3  5,5  1,8
o26      6,3  2,8  5,1  1,5
o27      6,1  2,7  5,6  1,5
o28      6,4  3,1  5,5  1,8
o29        6  2,9  4,8  1,6
o30      5,9    3  5,1  1,8
o31      5,5  NaN  3,1  2,5
o32      4,2  3,1  NaN  NaN
o33      NaN    3  2,1  NaN
o34        6  2,2    3  NaN
o35      6,3  NaN    5    1
o36      4,1    4  NaN    6
o37      NaN  NaN  4,8    5
o38        5  1,6  NaN  NaN
o39        2  1,2  6,9  NaN
o40      1,8  NaN    5  3,2

In [14]:
set_M = df_U[df_U.isnull().values.any(axis=1)]

In [15]:
set_M

          A1   A2   A3   A4
Objects
o31      5,5  NaN  3,1  2,5
o32      4,2  3,1  NaN  NaN
o33      NaN    3  2,1  NaN
o34        6  2,2    3  NaN
o35      6,3  NaN    5    1
o36      4,1    4  NaN    6
o37      NaN  NaN  4,8    5
o38        5  1,6  NaN  NaN
o39        2  1,2  6,9  NaN
o40      1,8  NaN    5  3,2

# KMeans

In [16]:
set_C = df_U[~df_U.isnull().values.any(axis=1)]
set_C

          A1   A2   A3   A4
Objects
o1       5,9  3,2  4,8    2
o2       6,1  2,8  4,2  1,5
o3       6,4  2,8  4,6  1,3
o4       6,4  2,5  4,3  1,4
o5       6,3  2,3  4,4  1,5
o6       6,3  2,8  4,9  1,6
o7       5,5  2,4  3,8  1,3
o8       5,8  2,7    4  1,4
o9       5,5  2,4  3,7  1,2
o10        6  2,8  4,5  1,4
o11      5,6  2,9  4,1  1,5
o12      5,5  2,5    4  1,5
o13      5,5  2,6  4,4  1,4
o14      6,1  2,7  4,6  1,4
o15      5,8  2,6    4  1,4
o16      5,8  2,7  5,1  1,9
o17      5,7  2,5    5    2
o18      6,1  2,8  5,6  2,2
o19        6  2,2    5  1,5
o20      5,6  2,8  4,9    2
o21      6,3  2,7  4,9  1,8
o22      6,2  2,8  4,8  1,8
o23      5,9    3  5,1  1,8
o24      6,4  2,8  5,6  2,1
o25      6,5    3  5,5  1,8
o26      6,3  2,8  5,1  1,5
o27      6,1  2,7  5,6  1,5
o28      6,4  3,1  5,5  1,8
o29        6  2,9  4,8  1,6
o30      5,9    3  5,1  1,8

In [17]:
set_C[["A1","A2", "A3", "A4"]] = set_C[["A1","A2", "A3", "A4"]].replace(',','.', regex=True).astype(float)
km = KMeans(n_clusters=2)
kmeans = km.fit(set_C)
cluster_map = pd.DataFrame()
cluster_map['data_index'] = set_C.index.values
cluster_map['A1'] = set_C["A1"].values
cluster_map['A2'] = set_C["A2"].values
cluster_map['A3'] = set_C["A3"].values
cluster_map['A4'] = set_C["A4"].values
cluster_map['cluster'] = kmeans.labels_
cluster_map

C:\Users\houss\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   data_index   A1   A2   A3   A4  cluster
0          o1  5.9  3.2  4.8  2.0        1
1          o2  6.1  2.8  4.2  1.5        0
2          o3  6.4  2.8  4.6  1.3        0
3          o4  6.4  2.5  4.3  1.4        0
4          o5  6.3  2.3  4.4  1.5        0
5          o6  6.3  2.8  4.9  1.6        1
6          o7  5.5  2.4  3.8  1.3        0
7          o8  5.8  2.7  4.0  1.4        0
8          o9  5.5  2.4  3.7  1.2        0
9         o10  6.0  2.8  4.5  1.4        0
10        o11  5.6  2.9  4.1  1.5        0
11        o12  5.5  2.5  4.0  1.5        0
12        o13  5.5  2.6  4.4  1.4        0
13        o14  6.1  2.7  4.6  1.4        0
14        o15  5.8  2.6  4.0  1.4        0
15        o16  5.8  2.7  5.1  1.9        1
16        o17  5.7  2.5  5.0  2.0        1
17        o18  6.1  2.8  5.6  2.2        1
18        o19  6.0  2.2  5.0  1.5        1
19        o20  5.6  2.8  4.9  2.0        1
20        o21  6.3  2.7  4.9  1.8        1
21        o22  6.2  2.8  4.8  1.8        1
22        o23  5.9  3.0  5.1  1.8        1
23        o24  6.4  2.8  5.6  2.1        1
24        o25  6.5  3.0  5.5  1.8        1
25        o26  6.3  2.8  5.1  1.5        1
26        o27  6.1  2.7  5.6  1.5        1
27        o28  6.4  3.1  5.5  1.8        1
28        o29  6.0  2.9  4.8  1.6        1
29        o30  5.9  3.0  5.1  1.8        1

# Randomly remove values from C by following the percentage of missing values in M

In [18]:
def addMissingValues(U,C):
    for col in C:
            col_missing_rate = U[col].isna().mean()
            vals_to_nan = C[col].dropna().sample(frac=col_missing_rate).index
            set_C.loc[vals_to_nan, col] = np.NaN
    return C

In [19]:
set_C=addMissingValues(df_U, set_C)

C:\Users\houss\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\houss\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [20]:
set_C

          A1   A2   A3   A4
Objects
o1       5.9  3.2  4.8  2.0
o2       6.1  NaN  4.2  NaN
o3       6.4  2.8  4.6  1.3
o4       6.4  2.5  4.3  1.4
o5       6.3  2.3  4.4  1.5
o6       6.3  2.8  NaN  1.6
o7       5.5  2.4  3.8  1.3
o8       5.8  2.7  4.0  1.4
o9       5.5  2.4  3.7  1.2
o10      6.0  2.8  4.5  1.4
o11      5.6  NaN  4.1  1.5
o12      5.5  2.5  4.0  NaN
o13      5.5  2.6  4.4  1.4
o14      6.1  2.7  4.6  1.4
o15      5.8  2.6  4.0  1.4
o16      NaN  2.7  5.1  1.9
o17      5.7  2.5  5.0  2.0
o18      6.1  2.8  5.6  2.2
o19      6.0  2.2  5.0  1.5
o20      5.6  2.8  4.9  2.0
o21      6.3  2.7  4.9  1.8
o22      6.2  2.8  4.8  1.8
o23      5.9  3.0  NaN  NaN
o24      NaN  NaN  5.6  2.1
o25      6.5  3.0  5.5  1.8
o26      6.3  2.8  5.1  1.5
o27      6.1  2.7  5.6  1.5
o28      6.4  3.1  5.5  NaN
o29      6.0  2.9  4.8  1.6
o30      5.9  3.0  5.1  1.8

# Divide C into Uc and Um

In [21]:
set_Um = set_C[set_C.isnull().values.any(axis=1)]
set_Uc=set_C[~set_C.isnull().values.any(axis=1)]
set_Uc.shape

(22, 4)

In [22]:
set_Uc

          A1   A2   A3   A4
Objects
o1       5.9  3.2  4.8  2.0
o3       6.4  2.8  4.6  1.3
o4       6.4  2.5  4.3  1.4
o5       6.3  2.3  4.4  1.5
o7       5.5  2.4  3.8  1.3
o8       5.8  2.7  4.0  1.4
o9       5.5  2.4  3.7  1.2
o10      6.0  2.8  4.5  1.4
o13      5.5  2.6  4.4  1.4
o14      6.1  2.7  4.6  1.4
o15      5.8  2.6  4.0  1.4
o17      5.7  2.5  5.0  2.0
o18      6.1  2.8  5.6  2.2
o19      6.0  2.2  5.0  1.5
o20      5.6  2.8  4.9  2.0
o21      6.3  2.7  4.9  1.8
o22      6.2  2.8  4.8  1.8
o25      6.5  3.0  5.5  1.8
o26      6.3  2.8  5.1  1.5
o27      6.1  2.7  5.6  1.5
o29      6.0  2.9  4.8  1.6
o30      5.9  3.0  5.1  1.8

In [23]:
set_Uc[["A1","A2", "A3", "A4"]] = set_Uc[["A1","A2", "A3", "A4"]].replace(',','.', regex=True).astype(float)
set_Um[["A1","A2", "A3", "A4"]] = set_Um[["A1","A2", "A3", "A4"]].replace(',','.', regex=True).astype(float)

C:\Users\houss\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

# Compute the evaluation function e(ck, oi)

In [24]:
#donne la distance entre deux object en ignorant les valeur manquant
def dis(Oi,Oj,M,C):
    diff=0
    for i in M.columns:
        diff +=np.nansum(M[i][Oi]-C[i][Oj])**2
    return np.sqrt(diff)

In [25]:
#chaque objet de set_Um avec tout les objet de set_Uc
def distance(M,C):
    dist=[]
    for i in range(M.shape[0]) :
        dist.append([])
        for j in range(C.shape[0]) :
            dist[i].append(dis(i,j,M,C))
    Table =pd.DataFrame(dist,M.index,C.index)
    return Table

In [26]:
## determine the Kth nearset neighbors
#Sort these distances and compute the nearest neighbours for each oi with missing values
def neighbor_Um(k,M,C):
    list_Index = M.index.tolist()
    list_Index
    K_N=[]
    for i in list_Index:
          K_N.append(distance(M,C).loc[i].sort_values().head(k))
    return K_N

In [27]:
Nei_DF =pd.DataFrame(neighbor_Um(7,set_Um,set_Uc))

In [28]:
Nei_DF

Objects,o5,o10,o4,o15,o8,o14,o3,o26,o22,o21,...,o29,o13,o7,o9,o20,o17,o30,o1,o18,o25
o2,0.282843,0.316228,0.316228,0.360555,0.360555,0.400000,0.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o6,NaN,NaN,NaN,NaN,NaN,0.300000,0.316228,0.100000,0.223607,0.223607,...,0.316228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o11,NaN,0.574456,NaN,0.244949,0.244949,0.714143,NaN,NaN,NaN,NaN,...,NaN,0.331662,0.374166,0.509902,NaN,NaN,NaN,NaN,NaN,NaN
o12,NaN,0.768115,NaN,0.316228,0.360555,0.871780,NaN,NaN,NaN,NaN,...,NaN,0.412311,0.223607,0.316228,NaN,NaN,NaN,NaN,NaN,NaN
o16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.412311,0.331662,0.223607,...,0.469042,NaN,NaN,NaN,0.244949,0.244949,0.316228,NaN,NaN,NaN
o23,NaN,0.223607,NaN,NaN,0.316228,NaN,NaN,NaN,NaN,NaN,...,0.141421,NaN,NaN,NaN,NaN,NaN,0.000000,0.2,0.282843,NaN
o24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.761577,...,NaN,NaN,NaN,NaN,0.707107,0.608276,0.583095,NaN,0.100000,0.316228
o28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.509902,0.787401,0.728011,...,NaN,NaN,NaN,NaN,NaN,NaN,0.648074,NaN,0.435890,0.141421

In [29]:
#compute the evaluation function e(ck, j)
#k : number of neighbors of j 
#j= objet de set_Um qui est contient des valeur manquant
def evaluation (k,j,k_cluster):
    ev=[]
    C=0
    df1=cluster_map.set_index("data_index")
    for l in range(k_cluster):
        C=0
        for i in Nei_DF.loc[j].dropna().index:
            if df1.loc[i].loc["cluster"]== l: 
                    C+=1
        ev.append(C/k)
    return ev

In [30]:
list_Index = set_Um.index.tolist()
list_Index

['o2', 'o6', 'o11', 'o12', 'o16', 'o23', 'o24', 'o28']

In [31]:
##Determine the labels of clusters we have
def init_list_clusters(k_cluster):
    list_cluster=[]
    for j in range(k_cluster):
            list_cluster.append("C"+str(j))
    return list_cluster

In [32]:
def eval_all(k_cluster,k,M):
    list_objects=[]
    list_evaluation=[]
    list_cluster=[]
    list_Index = M.index.tolist()
    for i in range(len(list_Index)):
        #list_index[i]: each object oi from Um
        list_objects.append(list_Index[i])
        list_evaluation.append(evaluation(k,list_Index[i],k_cluster))
    df3 = pd.DataFrame(list_evaluation, index = list_objects, columns = init_list_clusters(k_cluster))
    return df3

In [33]:
df4 = eval_all(2,7,set_Um).T
object_list=df4.columns
cluster_list=df4.index.tolist()
df4

     o2        o6  o11  o12  o16       o23  o24  o28
C0  1.0  0.285714  1.0  1.0  0.0  0.285714  0.0  0.0
C1  0.0  0.714286  0.0  0.0  1.0  0.714286  1.0  1.0

In [34]:
eval_all(2,7,set_Um)

           C0        C1
o2   1.000000  0.000000
o6   0.285714  0.714286
o11  1.000000  0.000000
o12  1.000000  0.000000
o16  0.000000  1.000000
o23  0.285714  0.714286
o24  0.000000  1.000000
o28  0.000000  1.000000

# three-way approach for objects assignment into one of the three regions: inside, outside, partial

In [35]:
# 
def three_way (alpha,beta,k_cluster,k,M):
    list1=[]
    i=0
    df = eval_all(k_cluster,k,M).T
    object_list=df.columns
    cluster_list=df.index.tolist()
    for c in cluster_list:
        inside=[]
        outside=[]
        partial=[]
        list1.append([])
        for o in object_list:
            if (df.loc[c][o]>=alpha):
                inside.append(o)
            elif (df.loc[c][o]<alpha and df.loc[c][o]>beta):
                partial.append(o)
            elif df.loc[c][o] <= beta:
                outside.append(o)
        list1[i].append(c)
        list1[i].append(inside)
        list1[i].append(outside)
        list1[i].append(partial)
        i=i+1
        df3 = pd.DataFrame(list1,columns=["cluster","Inside","Outside","Partial"])
        df3=df3.set_index('cluster')
    return df3

In [36]:
three_way(1,0,2,7,set_Um)

                  Inside          Outside    Partial
cluster
C0        [o2, o11, o12]  [o16, o24, o28]  [o6, o23]
C1       [o16, o24, o28]   [o2, o11, o12]  [o6, o23]

In [37]:
df1=cluster_map.set_index("data_index")
df5 =three_way (1,0,2,7,set_Um)

Totaly_clustred=0
for i in cluster_list:
    Totaly_clustred += len(df5["Inside"].loc[i])
    
Totaly_clustred
correctly_Clustred=0
for i in cluster_list:
    for j in df5["Inside"].loc[i]:
        if df1.loc[j].loc["cluster"]== int(i[1:]):
            correctly_Clustred+=1

correctly_Clustred

6

# compute the payoff

In [38]:
## Utility
def Utility (alpha,beta,k_cluster,k):
   
    df4 = eval_all(k_cluster,k,set_Um).T
    object_list=df4.columns
    cluster_list=df4.index.tolist()
    df5 =three_way (alpha,beta,k_cluster,k,set_Um)
    Totaly_clustred=0
    for i in cluster_list:
        Totaly_clustred += len(df5["Inside"].loc[i])
    correctly_Clustred=0
    for i in cluster_list:
        for j in df5["Inside"].loc[i]:
            if df1.loc[j].loc["cluster"]== int(i[1:]):
                correctly_Clustred+=1
    accuracy=correctly_Clustred/Totaly_clustred
    generality=Totaly_clustred/len(set_Um)
    return accuracy,generality

# Nash equilibrium and strategies

In [39]:
def payoff(alpha,beta,alpha_,alpha__,betaplus,betaplus2,k_cluster,k): 
#     i=0
    accuracy=Utility(alpha,beta,k_cluster,k)[0]
    generality=Utility(alpha,beta,k_cluster,k)[1]
#     accuracy=1
#     generality=0
    max_iteration=5
    iteration=0
    list_accuracy=[]#list player A accuracy 
    list_generality=[] #list player G generality
    list_final_accuracy=[]#list accuracy
    list_final_generality=[]#list generality
    list_alpha=[]#list alpha
    list_beta=[]#listbeta
#     alpha_=0.05
#     alpha__=0.1
#     betaplus = 0.05
#     betaplus2=0.1
#     alphaprim=0
#     betaprim=0
    list_final_accuracy.append(accuracy)
    list_final_generality.append(generality)
    list_alpha.append(alpha)
    list_beta.append(beta)
    while (accuracy>generality and alpha>0.5 and beta < 0.5 and iteration<max_iteration):
        list_accuracy=[]
        list_generality=[]
        
        #calcul accuracy 
        accuracy_alphamoins2_beta=Utility(alpha__,beta,k_cluster,k)[0]
        accuracy_alphamoins_betaplus=Utility(alpha_,betaplus,k_cluster,k)[0]
        accuracy_alphamoins2_betaplus=Utility(alpha__,betaplus,k_cluster,k)[0]
        accuracy_alpha_betaplus2=Utility(alpha,betaplus2,k_cluster,k)[0]
        accuracy_alphamoins_betaplus2=Utility(alpha_,betaplus2,k_cluster,k)[0]
        accuracy_alphamoins2_betaplus2=Utility(alpha__,betaplus2,k_cluster,k)[0]
        
        #calcul generality
        generality_alphamoins2_beta=Utility(alpha__,beta,k_cluster,k)[1]
        generality_alphamoins_betaplus=Utility(alpha_,betaplus,k_cluster,k)[1]
        generality_alphamoins2_betaplus=Utility(alpha__,betaplus,k_cluster,k)[1]
        generality_alpha_betaplus2=Utility (alpha,betaplus2,k_cluster,k)[1]
        generality_alphamoins_betaplus2=Utility(alpha_,betaplus2,k_cluster,k)[1]
        generality_alphamoins2_betaplus2=Utility(alpha__,betaplus2,k_cluster,k)[1]
        
        #populate matrix payoff
        #premiere ligne joueur A
        l1=[accuracy_alphamoins2_beta,accuracy_alphamoins_betaplus,accuracy_alphamoins2_betaplus]
        #deuxieme ligne joueur A
        l2=[accuracy_alphamoins_betaplus,accuracy_alpha_betaplus2,accuracy_alphamoins_betaplus2]
        #troisieme ligne joueur A
        l3=[accuracy_alphamoins2_betaplus,accuracy_alphamoins_betaplus2,accuracy_alphamoins2_betaplus2]
        #player A list
        list_accuracy.append(l1)
        list_accuracy.append(l2)
        list_accuracy.append(l3)
        
        #premiere colonne joueur G
        c1=[generality_alphamoins2_beta,generality_alphamoins_betaplus,generality_alphamoins2_betaplus]
        #deuxieme colonne joueur G
        c2=[generality_alphamoins_betaplus,generality_alpha_betaplus2,generality_alphamoins_betaplus2]
        #troisieme colonne joueur G
        c3=[generality_alphamoins2_betaplus,generality_alphamoins_betaplus2,generality_alphamoins2_betaplus2]
        #player B list
        list_generality.append(c1)
        list_generality.append(c2)
        list_generality.append(c3)
            
        P_A=np.array(list_accuracy)       #player A
        P_G=np.array(list_generality)     #player G
        game = nash.Game(P_A,P_G)         #game
        
        #Nash Equilibrium
        equilibria = game.support_enumeration()
        for eq in equilibria:
            b=eq
        sigma_r = b[0].tolist()
        sigma_c = b[1].tolist()                    
        accuracy,generality = game[sigma_r, sigma_c]                    
        
        #stratégies gagnantes
        #changement de valeurs de alpha et beta 
        ia=b[0].tolist().index(1)
        ib=b[1].tolist().index(1)
        a,b=["alpha_","betaplus","alpha_betaplus"][ia],["alpha_","betaplus","alpha_betaplus"][ib]
        #alpha,beta,alpha_,alpha__,betaplus,betaplus2,
        if a=="alpha_" and b=="alpha_":
            alphaprim = alpha__
            betaprim = beta
        if a=="alpha_" and b=="betaplus":
            alphaprim =alpha_
            betaprim = betaplus
        if a=="alpha_" and b=="alpha_betaplus":
            alphaprim = alpha__
            betaprim = betaplus
        if a=="betaplus" and b=="alpha_":
            alphaprim = alpha_
            betaprim = betaplus
        if a=="betaplus" and b=="betaplus":
            alphaprim = alpha
            betaprim = betaplus2
        if a=="betaplus" and b=="alpha_betaplus":
            alphaprim =alpha_
            betaprim =betaplus2
        if a=="alpha_betaplus" and b=="alpha_":
            alphaprim = alpha__
            betaprim = betaplus
        if a=="alpha_betaplus" and b=="betaplus":
            alphaprim = alpha_
            betaprim = betaplus2
        if a=="alpha_betaplus" and b=="alpha_betaplus":
            alphaprim =alpha__
            betaprim = betaplus2
        alpha0=alpha
        beta0=beta
        #calcul alpha_, alpha__, betaplus, betaplus2
        c = 1.5
        alpha_=alpha-(alpha*Utility(alphaprim,betaprim,k_cluster,k)[1]-Utility(alpha,beta,k_cluster,k)[1])
        alpha__=alpha-c*(alpha*Utility(alphaprim,betaprim,k_cluster,k)[1]-Utility(alpha,beta,k_cluster,k)[1])
        betaplus=beta-(beta*Utility(alphaprim,betaprim,k_cluster,k)[1]-Utility(alpha,beta,k_cluster,k)[1])
        betaplus2=beta-c*(beta*Utility(alphaprim,betaprim,k_cluster,k)[1]-Utility(alpha,beta,k_cluster,k)[1])
        
        #alpha,beta=alphaprim,betaprim
        alpha=alphaprim
        beta=betaprim
        
        #redifine accuracy and genereality
        accuracy = Utility(alpha,beta,k_cluster,k)[0] 
        generality= Utility(alpha,beta,k_cluster,k)[1]
        #remplir les listes 
        list_final_accuracy.append(accuracy)
        list_final_generality.append(generality)
        list_alpha.append(alpha)
        list_beta.append(beta)
        
        iteration=iteration+1
    return list_final_accuracy, list_final_generality, list_alpha, list_beta, alpha0, beta0

In [40]:
alpha,beta,list_final_accuracy,list_final_generality,list_alpha,list_beta=payoff(1,0,0.85,0.8,0.15,0.2,2,7)[4],payoff(1,0,0.85,0.8,0.15,0.2,2,7)[5],payoff(1,0,0.85,0.8,0.15,0.2,2,7)[0],payoff(1,0,0.85,0.8,0.15,0.2,2,7)[1],payoff(1,0,0.85,0.8,0.15,0.2,2,7)[2],payoff(1,0,0.85,0.8,0.15,0.2,2,7)[3]
payoff(1,0,0.85,0.8,0.15,0.2,2,7)

([1.0, 1.0, 1.0], [0.75, 0.75, 0.75], [1, 0.8, 1.0], [0, 0.2, 1.125], 0.8, 0.2)

In [41]:

d= {'alpha':list_alpha, 'beta': list_beta,'accuracy': list_final_accuracy,'generality':list_final_generality}
df = pd.DataFrame(data=d)

In [42]:
df

   alpha   beta  accuracy  generality
0    1.0  0.000       1.0        0.75
1    0.8  0.200       1.0        0.75
2    1.0  1.125       1.0        0.75

In [43]:
set_C= pd.read_csv("data.csv", sep=";", header=None)
set_C.columns=["A1","A2", "A3", "A4","Objects"]
set_C=set_C.set_index('Objects')
set_C[["A1","A2", "A3", "A4"]] = set_C[["A1","A2", "A3", "A4"]].replace(',','.', regex=True).astype(float)
set_M[["A1","A2", "A3", "A4"]] = set_M[["A1","A2", "A3", "A4"]].replace(',','.', regex=True).astype(float)

C:\Users\houss\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [44]:
distance(set_M,set_C)

Objects,o1,o2,o3,o4,o5,o6,o7,o8,o9,o10,...,o21,o22,o23,o24,o25,o26,o27,o28,o29,o30
Objects,,,,,,,,,,,,,,,,,,,,,
o31,1.816590,1.603122,2.121320,1.860108,1.824829,2.165641,1.389244,1.452584,1.431782,1.849324,...,2.090454,1.967232,2.156386,2.687006,2.692582,2.374868,2.758623,2.657066,1.987461,2.156386
o32,1.702939,1.923538,2.220360,2.280351,2.247221,2.121320,1.476482,1.649242,1.476482,1.824829,...,2.137756,2.022375,1.702939,2.220360,2.302173,2.121320,1.941649,2.200000,1.811077,1.702939
o33,2.707397,2.109502,2.507987,2.256103,2.404163,2.807134,1.802776,1.923538,1.708801,2.408319,...,2.816026,2.707397,3.000000,3.505710,3.400000,3.006659,3.512834,3.401470,2.701851,3.000000
o34,2.061553,1.345362,1.754993,1.392839,1.435270,2.014944,0.964365,1.135782,0.883176,1.615549,...,1.987461,1.907878,2.249444,2.698148,2.672078,2.204541,2.649528,2.687006,1.931321,2.249444
o35,1.095445,0.964365,0.509902,0.812404,0.781025,0.608276,1.473092,1.187434,1.539480,0.707107,...,0.806226,0.830662,0.900000,1.256981,0.964365,0.509902,0.806226,0.948683,0.700000,0.900000
o36,4.458699,5.068530,5.368426,5.357238,5.289612,5.063596,5.158488,5.073460,5.249762,5.119570,...,4.916299,4.846648,4.677606,4.684015,4.939636,5.150728,5.093133,4.872371,4.917316,4.677606
o37,3.000000,3.551056,3.705401,3.634556,3.522783,3.401470,3.832754,3.687818,3.956008,3.612478,...,3.201562,3.200000,3.214032,3.008322,3.275668,3.512834,3.590265,3.275668,3.400000,3.214032
o38,1.835756,1.627882,1.843909,1.664332,1.476482,1.769181,0.943398,1.360147,0.943398,1.562050,...,1.702939,1.697056,1.664332,1.843909,2.051828,1.769181,1.555635,2.051828,1.640122,1.664332
o39,4.860041,5.163332,5.216321,5.273519,5.094114,5.004998,4.827007,5.009990,4.891830,4.931531,...,4.973932,4.960847,4.657252,4.859012,5.044799,4.928489,4.555217,4.992995,4.827007,4.657252
o40,4.276681,4.692547,4.992995,4.988988,4.847680,4.777028,4.328972,4.498889,4.402272,4.596738,...,4.713809,4.621688,4.333590,4.767599,4.929503,4.811445,4.662617,4.834253,4.498889,4.333590

In [45]:
Nei_DF =pd.DataFrame(neighbor_Um(7,set_M,set_C))
Nei_DF

Objects,o12,o7,o11,o9,o15,o8,o2,o13,o20,o17,...,o29,o10,o1,o18,o16,o23,o30,o24,o22,o27
o31,1.345362,1.389244,1.417745,1.431782,1.452584,1.452584,1.603122,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o32,1.431782,1.476482,1.414214,1.476482,NaN,NaN,NaN,1.392839,1.431782,1.615549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o33,1.964688,1.802776,2.002498,1.708801,1.941649,1.923538,2.109502,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o34,1.157584,0.964365,1.363818,0.883176,1.095445,1.135782,1.345362,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.7,0.707107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.437342,4.561798,...,NaN,NaN,4.458699,4.458699,4.624932,4.677606,4.677606,NaN,NaN,NaN
o37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.001666,3.006659,...,NaN,NaN,3.000000,2.912044,3.114482,NaN,NaN,3.008322,3.2,NaN
o38,1.029563,0.943398,NaN,0.943398,1.280625,NaN,NaN,1.118034,NaN,1.140175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
o39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.523273,4.418144,4.357752,...,NaN,NaN,NaN,4.589118,4.464303,NaN,NaN,NaN,NaN,4.555217
o40,4.192851,NaN,4.259108,NaN,NaN,NaN,NaN,4.158125,3.986226,4.080441,...,NaN,NaN,4.276681,NaN,4.207137,NaN,NaN,NaN,NaN,NaN

In [46]:
three_way(alpha,beta,2,7,set_M)

                  Inside          Outside               Partial
cluster
C0       [o31, o33, o34]  [o36, o37, o39]  [o32, o35, o38, o40]
C1       [o36, o37, o39]  [o31, o33, o34]  [o32, o35, o38, o40]

In [47]:
eval_all(2,7,set_M).T

    o31       o32  o33  o34       o35  o36  o37       o38       o39       o40
C0  1.0  0.714286  1.0  1.0  0.428571  0.0  0.0  0.714286  0.142857  0.428571
C1  0.0  0.285714  0.0  0.0  0.571429  1.0  1.0  0.285714  0.857143  0.571429